
  .sky-blue-form label {
    color: #333; /* Label text color */
  }
  .sky-blue-form .btn-success {
    background-color: #749b64 ; /* Button background color */
    border-color: #749b64 ; /* Button border color */
  }
    .sky-blue-form .btn-success:hover {
      background-color: #2f4e24;
      border-color: #2f4e24;
      color:black;
    }
