<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" action="" method="post">
            <h3 style="color:#749b64;" class="text-center ">Login</h3>
            <div class="form-group">
              <label for="name" style="color:#749b64;">Username:</label><br>
              <input type="text" name="name" id="name" class="form-control" [(ngModel)]="user.username">
            </div>
            <div class="form-group">
              <label for="password" style="color:#749b64;">Password:</label><br>
              <input type="password" name="password" id="password" class="form-control" [(ngModel)]="user.password">
            </div>
            <div class="form-group">
              <button style="background-color:#749b64;" (click)="loginUser()" type="submit" name="submit" class="btn btn-success" value="Submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
