.gradient-custom {
  /* fallback for old browsers */
  background: #749b64;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, #749b64, rgba(214,214,214,255));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, #749b64, rgba(253, 160, 133, 1));
}
