<!--<button  style="background-color:#749b64; color: white" class="btn btn-success" (click)="logout()">Logout</button>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout</title>
</head>
<body>
<div class="container">
  <div class="logout-box">
    <h1>Logout</h1>
    <p>Are you sure you want to log out?</p>
    <button (click)="logout()" class="logout-button">Logout</button>
  </div>
</div>
</body>
</html>
